<!DOCTYPE html>
<html>
<head>
    <title>Angular Options Getting Started</title>
	<meta charset="utf-8" />
</head>
<body data-ng-app="app" data-ng-controller="routeEditorController as vm">

    <h1>{{ ::vm.title }}</h1>
    <h2 data-ng-if="vm.entity.viewContainerComponent">
        {{ vm.entity.viewContainerComponentId }} : {{ vm.entity.viewContainerComponent.name }}
    </h2>
    <div>
        Choose a new view container component:
        <select data-ng-model="vm.entity.viewContainerComponent"
                data-ng-options="viewContainerComponent.name for viewContainerComponent in vm.viewContainerComponents"></select>
    </div>

    <script src="libs/angular.min.js"></script>
    <script src="app.js"></script>
</body>
</html>
